*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Museo Sans Demo';
    src: url('/fonts/Fontspring-DEMO-MuseoSans_700-iF6639e03b08577.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fontspring Demo Museo Sans', sans-serif;
    line-height: 1.5;
}

main {
    overflow-x: hidden;
}

section {
    position: relative;
    width: 100%;
}